html, body {
  display: flex;
  flex-direction: column;
  font-family: courier, serif;
  font-size: 1.15em;
  background-color: #1c1818;
  color: #d6d5d5;
}

a {
  color: #d6d5d5;
  opacity: 0.5;
}
a:hover {
  opacity: 1;
}

body {
  padding-left: 10px;
}

.footer {
  padding-bottom: 20px;
}

.ch {
  margin: 15px 0;
}

.line {
  margin: 10px;
}
